<!DOCTYPE html>
<html>
<head> 
  <title> {{title}} </title>
</head>
<body>
   <h1>{{title}}</h1>
   <h2>{{body}}
   Enter an Ingredient: <input name="ingredient" style="height: 30px;">
	<button id="submit" onclick="getRecipes()" style="margin-bottom: 50px;">Submit</button>
   </h2>
</body>
</html>